{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{form.answer|as_crispy_field}}

        <button class="btn btn-primary mt-3" type="submit">Submit
            <i class="fas fa-database"></i>
        </button>
    </form>
        

    {% endblock %}
</body>
</html>