{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {% block content %}
    
        <form action="" method="post">
            <div class="row">
                <div class="col-md-4">
                    {{form.grade|as_crispy_field}}
                </div>
                <div class="col-md-4">
                    {{form.subject|as_crispy_field}}
                </div>
                <div class="col-md-4">
                    {{form.set|as_crispy_field}}
                </div>
            </div>

            {% csrf_token %}
            <div class="row">
                <div class="col-md-8">
                    {{form.question|as_crispy_field}}        
                </div>
                <div class="col-md-4 mt-4">
                    <a href="#" class="btn btn-secondary px-0">Parse Query</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    {{form.answer|as_crispy_field}}
                </div>
                <div class = "col-md-4 mt-4">
                 
                    <a href="#" class="btn btn-secondary px-0">Parse Answer</a>
                </div>    
            </div>
            
            
            <button class="btn btn-primary mt-3" type="submit">Submit
                <i class="fas fa-database"></i>
            </button>
            
        </form>
    {% endblock %}
</body>
</html>