{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="jumbotron">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        {{form.grade|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{form.subject|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{form.set|as_crispy_field}}
                    </div>    
                </div>
                
                <button type="submit" class = 'btn btn-outline-dark mt-3' value="search">Sort
                    <i class="fas fa-filter"></i>
                </button>
                
            </form>
            <table class="table table-bordered">
                <thead>
                    {% for instance in queryset %}
                    <tr>
                        <th>Questions</th>
                        <!-- <td>{{instance.question}}</td> -->
                        <td colspan="2">{{instance.question}}</td>
                        <td>
                            <a href="{% url 'query_update' instance.id %}" class="btn text-secondary px-0">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <!-- delete button with csrf token -->
                            <form action="{% url 'query_delete' instance.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class='btn'>
                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                </button>
                            </form>
                        </td>    

                        <!-- <th>Answers</th>
                        <td>{{instance.answer}}</td> -->
                        <!-- <th>Grade</th>
                        <th>Subject</th>
                        <th>Set</th> -->
                        <!-- <td>
                            <a href="{% url 'add_Query' %}" class="btn btn-outline-dark">
                                <i class="fas fa-plus"></i>Add New
                            </a>
                        </td>  -->
                    </tr>
                    <tr>
                        <!-- <th>
                            <input type="submit" value="Add Answer">
                        </th> -->
                        <td rowspan="1" style=" width: 200px; border-left-color: transparent;">
                            <button onClick="fn1()" id="btn1" type="submit" class="add_answer btn btn-outline-secondary btn-sm">Add Answer</button>
                        </td>
                        <td style="width: 130px;">Answer</td>
                        <td>{{instance.answer}}</td>
                        <!-- <td colspan='1'>
                            {{instance.answer}}
                        </td> -->
                        <td>
                            <a href="{% url 'query_update' instance.id %}" class="btn text-secondary px-0">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <!-- delete button with csrf token -->
                            <form action="{% url 'query_delete' instance.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class='btn'>
                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                </button>
                            </form>
                        </td>

                    </tr>
                    
                    
                    <tr>
                        <!-- <th>
                            <input type="submit" value="Add Answer">
                        </th> -->
                        <td rowspan="1" style=" width: 200px; border-left-color: transparent;">
                            <button onClick="fn1()" id="btn1" type="submit" class="add_answer btn btn-outline-secondary btn-sm">Add POS</button>
                        </td>
                        <td style="width: 130px;">POS</td>
                        <td>{{instance.p}}</td>
                        <!-- <td colspan='1'>
                            {{instance.answer}}
                        </td> -->
                        <td>
                            <a href="{% url 'query_update' instance.id %}" class="btn text-secondary px-0">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <!-- delete button with csrf token -->
                            <form action="{% url 'query_delete' instance.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class='btn'>
                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                </button>
                            </form>
                        </td>

                    </tr>



                    </tr>
                    
                    {% endfor %}
                </thead>
                <!-- {% for instance in queryset %} -->
                    <!-- <tr> -->
                        <!-- <th>{{instance.question}}</th> -->
                        <!-- <td>{{instance.answer}}</td> -->
                        <!-- <td>{{instance.grade}}</td>
                        <td>{{instance.subject}}</td>
                        <td>{{instance.set}}</td> -->

                        <!-- <td> -->
                            <!-- <a href="{% url 'query_update' instance.id %}" class="btn text-secondary px-0"> -->
                                <!-- <i class="fas fa-pencil-alt"></i> -->
                            <!-- </a> -->
                            <!-- delete button with csrf token -->
                            <!-- <form action="{% url 'query_delete' instance.id %}" method="post" class="d-inline"> -->
                                <!-- {% csrf_token %}
                                <button type="submit" class='btn'>
                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                </button>
                            </form>
                            <a href="{% url 'query_update' instance.id %}" class="btn btn-outline-dark">
                                Add Answer
                            </a>
                        </td>

                    </tr>
                {% endfor %}             -->
            </table>
        </div>
    </div>
<!-- pagination added. -->
    <nav class="my-3 container">
        <ul class="pagination">
            {% if queryset.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{queryset.previous_page_number}}">Previous</a></li>
            {% endif %}
            {% for instance in queryset.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{instance}}">{{instance}}</a></li>
            {% endfor %}
            
            {% if queryset.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{queryset.next_page_number}}">Next</a></li>
            {% endif %}
            
        </ul>
    </nav>

    {% endblock content %}
    
</body>
</html>